body{
    text-align: center;
    background: url(../images.html\gym4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Praise';
    
}


 



h2{
    
    font-size: 1.5rem;
    font-weight: normal;
}

.Container1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 400 200;
    width: 100%;
    margin: 100px auto 100px auto;
    text-align: center;
    height: 600px;
    
    
}
.Videolink{
    background-color: white;
    text-align: center;
    border: 10px solid white;
    padding: 10px;
    
}

.grid1{
    text-align: center;
    font-size: 24px;
    margin-right: 20px;
    column-gap: 20px;

}
  
.grid2{
    text-align: center;
    margin-right: 70px;
}

.Container2{
    display:grid;
    background-color: orange;
    height: 100px;

    text-align: center;
    position: fixed;

}






.Container3{
    text-align: center;
    color: white;
    background-color: orange;
    height:100px ;
    margin-bottom: 100px;
    padding-top: 20px;

}
  

a:active{
    
    border: 30px solid orange;
    padding: 30px;
    background-color: orange;
    text-decoration: none;

    color: black;
}

    .Container6{
        display: flex;
        background-color: black;
        color: whitesmoke;
        height: 100px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px; 
    }
    
    .Container8{ display: flex;
        background-color: black;
        color: orange;
        height: 100px;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px; 


    }

    

    .carousel-item{
        height: 500px; ;
    }
.Container10{
    background-color: orange;
    border: 20px;
    padding: 20px;
    margin: auto;
    width: 100%;
    position: relative;
    text-decoration: none;
    height: 50px;
    
    
}
.footer1{
    position: absolute;
    left: 40%;
    text-decoration: none;
    color: #11999E;

}
.footer2{
    position: absolute;
    left: 50%;
    text-decoration: none;
    color: #11999E;

}
.footer3{
    position: absolute;
    left: 60%;
    text-decoration: none;
    color: #11999E;

}
.footer4{
    position: absolute;
    left: 70%;
    text-decoration: none;
    color: #11999E;

}

.links{
    background-color: orange;
    border: 20px;
    padding: 20px;
    margin: auto;
    width: 100%;
    position: relative;
    text-decoration: none;
    height: 100px;

}
.hm{
    position: absolute;
    left: 40%;
    text-decoration: none;
    color: white;

}
.au{
    position: absolute;
    left: 50%;
    text-decoration: none;
    color: white;

}
.os{
    position: absolute;
    left: 60%;
    text-decoration: none;
    color: white;

}
.cn{
    position: absolute;
    left: 70%;
    text-decoration: none;
    color: white;

}

a:link{ background-color: orange;
    border: 5px solid #170207;
    padding: 5px;
    text-decoration: none;

}
a:hover{
border: 2px solid black;
padding: 2px;
color: black;
text-decoration: none;
border-radius: 10px;
}

         

.Container4{
    text-align: center;
    width: 100%;
    
}
